<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.motor.iot.metadata.server.repository.mapper.IotModelMapper" >
    <resultMap id="iotModel" type="com.motor.iot.metadata.IotModel">
        <id column="id" property="id"></id>
        <id column="name" property="name"></id>
        <id column="code" property="code"></id>
    </resultMap>

    <select id="selectWithPage" resultMap="iotModel" parameterType="Map">
        select * from iot_model where id > #{params.minId}
    </select>
</mapper>